:root {
    --negro: 68, 68, 68; 
    --rojo: 170, 34, 51;
    --verde:136, 136, 51;
    --azul: 45, 63, 199;
    --amarillo: 255, 238, 136;
    --cafe: 119, 68, 34;
}


}


body, html {
	box-sizing: border-box;
	text-align: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}
